.address__list {
    margin-top: 20px;
}
  
.address__text {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: $primary-background;
}
  
.address__contact {
    font-size: 14px;
    font-style: normal;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: $contact-color;
    margin-top: 8px;
    transition: 250ms $cubic-bezier;

    &:hover, &:active {
        color: $accent-color;
    }
}