.join__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-background;
    margin-bottom: 20px;
}
  
.join__list {
    display: flex;
}
  
.join__item {
    display: flex;
}
  
.join__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 12px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    fill: $primary-background;
    margin-right: 10px;
    transition: 250ms $cubic-bezier;

    &:hover, &:focus, &:active {
        background-color: $accent-color;
    }
}
