$primary-background: #fff;
$second-background: #f5f4fa;
$dark-background: #2f303a;
$accent-color: #2196f3;
$contact-color: rgba(255, 255, 255, 0.6);
$main-color: #757575;
$title-color: #212121;
$shadow-color: #eeeeee;
$order-hover: #188ce8;
$logo-second-half: #000000;
$border: #ececec;
$icons: #afb1b8;
$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
$complementary-font: 'Raleway', sans-serif;