:root {
  --primary-background: #fff;
  --second-background: #f5f4fa;
  --dark-background: #2f303a;
  --accent-color: #2196f3;
  --contact-color: rgba(255, 255, 255, 0.6);
  --main-color: #757575;
  --title-color: #212121;
  --shadow-color: #eeeeee;
  --order-hover: #188ce8;
  --logo-second-half: #000000;
  --border: #ececec;
  --icons: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--primary-background);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  display: flex;
  border-bottom: 1px solid var(--border);
}

.header__nav {
  display: flex;
}

/*WebStudio*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-second-half);
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo__text {
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__nav-menu {
  display: flex;
  margin-left: 96px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.header__nav-item {
  width: auto;
  margin-right: 50px;
}

.header__nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link-active {
  color: var(--accent-color);
  position: relative;
}

.header__nav-link-active::after {
  position: absolute;
  content: "";
  color: var(--accent-color);

  display: block;
  width: 100%;
  margin-top: 30px;
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__nav-link:active,
.header__nav-link:hover,
.header__nav-link:current  {
  color: var(--accent-color);
}

.header__nav-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header__contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-right: 50px;
  color: var(--main-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__icon {
  display: inline-flex;
  align-items: center;
  fill: var(--main-color);
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__contact:hover,
.header__contact:active,
.header__icon:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

/*Main-webstudio*/

.hero {
  background-color: var(--dark-background);
  padding: 200px 0;
  text-align: center;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/backgroundhero.jpg);
  max-width: 1600px;
  margin: 0 auto;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background);
  width: 696px;
  margin: auto;
}

.hero__button {
  width: 200px;
  height: 50px;
  cursor: pointer;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background: var(--order-hover);
}

.hero__button-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;

  letter-spacing: 0.06em;
  color: var(--primary-background);
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages__title-hidden {
  display: none;
}

.advantages__list{
  display: flex;
}

.advantages__item{
  flex-basis: calc((100%-60px) / 2);
}

.advantages__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  background-color: var(--second-background);
  margin-bottom: 30px;
}

.advantages__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.advantages__text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.activity{
  padding-bottom: 94px;
}

.activity__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.activity__list {
  display: flex;
  justify-content: center;
}

.activity__item {
  position: relative;
  flex-basis: calc((100%-60px) / 3);
}

.activity__name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: var(--second-background);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team__list{
  display: flex;
  justify-content: space-between;
}

.team__item {
  background: var(--primary-background);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-top: 30px;
}

.team__trade {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-top: 10px;
  margin-bottom: 16px;
}

.team__links-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.team__links-item {
  display: flex;
  justify-content: center;
}

.team__links-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  margin-right: 10px;
  border-radius: 50%;
  fill: var(--icons);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__links-icon:hover,
.team__links-icon:focus,
.team__links-icon:active {
  background-color: var(--accent-color);
  fill: var(--primary-background);
}

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--icons);
  fill: var(--icons);
  margin-right: 30px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__item:hover,
.clients__item:focus,
.clients__item:active {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

/*Main-portfolio*/
.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__title {
  display: none;
}

.portfolio__filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__filters-item {
  padding-right: 8px;
}

.portfolio__filters-item-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  background: var(--second-background);
  border-radius: 4px;
  border: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__filters-item-btn:active,
.portfolio__filters-item-btn:hover,
.portfolio__filters-item-btn:focus {
  color: var(--primary-background);
  background: var(--accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  gap: 28px;
}

.portfolio__projects-item{
  background: var(--primary-background);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__projects-item:focus,
.portfolio__projects-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__projects-description {
  position: relative;
  overflow: hidden;
}

.portfolio__projects-description-up{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__projects-item:hover  .portfolio__projects-description  .portfolio__projects-description-up{
  transform: translateY(0);
}

.portfolio__projects-description-up-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-background);
}

.portfolio__projects-name{
  border-left: 1px solid var(--shadow-color);
  border-right: 1px solid var(--shadow-color);
  border-bottom: 1px solid var(--shadow-color);
  padding-top: 20px;
  padding-right: 24px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.portfolio__projects-name-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.portfolio__projects-name-class {
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.footer {
  display: flex;
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo__footer {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-background);
}

.footer_container-address {
  font-style: normal;
  margin-top: 20px;
}

.address__list {
  margin-top: 20px;
}

.address__text {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--primary-background);
}

.address__contact {
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--contact-color);
  margin-top: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__contact:hover,
.address__contact:active {
  color: var(--accent-color);
}

.footer__container-join {
  margin-left: 70px;
}

.join__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
  margin-bottom: 20px;
}

.join__list {
  display: flex;
}

.join__item {
  display: flex;
}

.join__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  fill: var(--primary-background);
  margin-right: 10px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join__icon:hover,
.join__icon:focus,
.join__icon:active {
  background-color: var(--accent-color);
}

.footer__container-sign{
  margin-left: auto;
}

.sign__label {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
  margin-bottom: 20px;
}

.sign__input {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--dark-background);
  color: var(--primary-background);
  padding: 15px 16px;
}

.sign__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.sign__btn {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-background);
  fill: var(--primary-background);

  padding: 10px 28px;
  margin-left: 12px;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*Modal-window*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop__is-hidden {
  opacity: 0;
  visibility: hidden;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-background);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-window__close-button {
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
  fill: var(--logo-second-half);
  background: var(--primary-background);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window__close-button:active,
.modal-window__close-button:hover,
.modal-window__close-button:focus {
  fill: var(--accent-color);
}

.modal-window__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 12px;
  padding: 0;
}

.form-modal__field {
  margin-bottom: 10px;
}

.form-modal__field-label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-color);
  margin-bottom: 4px;
}

.form-modal__field-inner {
  position: relative;
}

.form-modal__field-input {
  cursor: pointer;
  width: 100%;
  background-color: var(--primary-background);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding: 14px 42px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__field-input:active,
.form-modal__field-input:hover,
.form-modal__field-input:focus,
.form-modal__field-textarea:active,
.form-modal__field-textarea:hover,
.form-modal__field-textarea:focus {
  border: 1px solid var(--accent-color);
  outline: none;
  fill: var(--accent-color);
}

.form-modal__field-input:focus + .form-modal__field-icon {
  fill: var(--accent-color);
}

.form-modal__field-textarea {
  height: 120px;
  resize: none;
  cursor: pointer;
  width: 100%;
  background-color: var(--primary-background);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__field-textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-modal__field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
  fill: var(--title-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-modal__field-icon:focus-within,
.form-modal__field-icon:hover {
  fill: var(--accent-color);
}

.agreement {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.agreement__input{
  appearance: none;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__icon {
  display: inline-flex;
  align-items: center;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__input:checked + .agreement__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-left: 8px;
}

.agreement__instruction {
  text-decoration: underline var(--accent-color);
  color: var(--accent-color);
  margin-left: 3px;
}

.agreement__send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: var(--primary-background);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.agreement__send-btn:active,
.agreement__send-btn:hover,
.agreement__send-btn:focus {
  background: var(--order-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}